body {
  background-color: hsl(216, 12%, 8%);
}
h1 {
  color: white;
  margin-top: 5%;
}
p {
  font-size: 17px;
}
.card {
  background: radial-gradient(
    ellipse at top,
    hsla(215, 19%, 18%, 1),
    hsla(212, 22%, 12%, 1)
  );
  background-color: hsl(213, 19%, 18%);
  border-radius: 5%;
  color: hsl(217, 12%, 63%);
  font-family: "Overpass";
  font-weight: 400;
  margin: 10% auto;
  padding: 20px;
  height: 400px;
  width: 400px;
  line-height: 30px;
}
.submit-button {
  background-color: hsl(25, 97%, 53%);
  border-radius: 24px;
  border-style: none;
  color: white;
  font-family: "Overpass";
  font-weight: 400;
  margin: 5% 0 0 0;
  height: 45px;
  letter-spacing: 2px;
  width: 100%;
}
.submit-button:hover {
  background-color: white;
  color: hsl(25, 97%, 53%);
}
.rating-button {
  background-color: hsla(210, 19%, 18%, 1);
  border-radius: 50%;
  color: hsl(217, 12%, 63%);
  font-family: "Overpass";
  font-weight: 400;
  height: 45px;
  width: 45px;
  margin: 16px 8px 32px;
  border: none;
}
.rating-button:hover {
  color: white;
  background-color: hsl(217, 12%, 63%);
}
.rating-button:hover {
  color: white;
  background-color: hsl(217, 12%, 63%);
}
.rating-button:active {
  background-color: hsl(25, 97%, 53%);
  color: white;
}
.star-button {
  background-color: hsla(210, 19%, 18%, 1);
  height: 45px;
  width: 45px;
  pointer-events: none;
  box-shadow: none;
  border-radius: 50%;
  border: none;
}
.after-submission-alert {
  text-align: center;
  border-radius: 24px;
  padding: 4px;
  margin: 25px auto;
  width: 200px;
  background-color: hsl(213, 19%, 18%);
  color: hsl(25, 97%, 53%);
}
.ratings {
  text-align: center;
}
@media only screen and (max-width: 768px) {
    .card{
        margin: 50% auto;
    }
}